<div class="statement">
  <a class="media" href="/send-reaction/{{this.id}}">
    <div class="media-left">
      <div class="media-object"></div>
    </div>
    <div class="media-body">
      <p>{{this.message}}</p>
    </div>
    {{#if this.emojiCount}}
      <div class="has-emoji">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      </div>
    {{/if}}
    {{#if this.messageCount}}
      <div class="has-message">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </div>
    {{/if}}
    </a>
</div>
