<script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js" type="text/javascript"></script>
<script src="signalr/hubs"></script>
<script type="text/javascript">
    function renderStatement(statement, container, prepend){
        console.log(statement);

        var html = '<h1><a href="/send-reaction/' + statement["Id"] + '">' + statement["Message"] + '</a></h1>';
        html += '<h3>' + statement["User"] + '</h3>';
        html += '<h5>' + statement["Timestamp"] + '</h5>';
        html += '</hr>';
        html += '</br>';

        if(prepend){
            container.prepend(html);
        }
        else{
            container.append(html);
        }
    }

    $(function () {

        var username = store.get('username');

        if(!username){
            window.location = '/';
        }

        console.log('Connecting to blueApp');

        //Create hub connection
        var connection = $.connection.hub;
        var blueApp = $.connection.blueApp;
        blueApp.logging = true;

        var statementsBox = $('#statements-box');

        blueApp.client.onTransmit = function (fromUserName, message) {
            console.log('Received message from ' + fromUserName + ': ' + message);

            var message = JSON.parse(message);

            var type = message.type;

            if(fromUserName == 'server' && type == 'init'){
                var statements = message.statements;

                for(var i = 0; i < statements.length; i++){
                    var statement = statements[i];

                    renderStatement(statement, statementsBox);
                }
            }
            else{
                if(type == 'statement'){
                    var statement = message.statement;

                    renderStatement(statement, statementsBox, true);
                }
            }
        };

        console.log(connection.url);

        connection.start()
        .done(function () {
            console.log('Connected to signalR');

            $('#connect-box').hide();
            $('#message-box').show();
            $('#broadcastMessage').prop('value', 'Tell your story');

            $.connection.$user(username);

            console.log('Connected as ' + username);

            blueApp.server.sendToUser(username, 'server', 'init');

            $('#sendmessage').click(function () {
                var sendTo = $('#sendto').val();
                var message = $('#message').val();

                var transmission = {
                    type: 'chat',
                    message: message
                };

                var transmissionString = JSON.stringify(transmission);

                console.log('Sending message from ' + username + ' to ' + sendTo + ': ' + transmissionString);

                //Call the hub server send
                blueApp.server.sendToUser(username, sendTo, message);
            });

            $('#broadcastMessage').click(function () {
                var message = $('#message').val();

                var transmission = {
                    type: 'statement',
                    statement: {
                        message : message,
                        user : username,
                        timestamp: new Date()
                    }
                };

                var transmissionString = JSON.stringify(transmission);

                console.log('Broadcasting statement from ' + username + ': ' + transmissionString);

                //Call the hub server send
                blueApp.server.broadcast(username, transmissionString);
            });
        })
        .fail(function(error){
            console.log('Could not connect');
            console.log(error);
        });
    });
</script>
<div class="message">
  <div class="form-group">
    <input id="message" type="text" class="form-control">
    <button id='broadcastMessage' type="submit" class="btn btn-primary">Tell your story</button>
  </div>
</div>

<div class="statements">
  {{#each statements}}
    {{> statement}}
  {{/each}}
</div>
