<div class="statement">
  <div class="media">
    <div class="media-left">
      <div class="media-object"></div>
    </div>
    <div class="media-body">
      <p>{{statement.message}}</p>
    </div>
  </div>
</div>

<div class="emoji-reactions">
  {{#each emojis}}
  <div class="emoji-reaction">
    <img class="emoji-reaction-icon" src="{{this.image}}" alt="heart">
  </div>
  {{/each}}
</div>

<div class="encouragements">
  {{#each encouragements}}
  <div class="encouragement">{{this}}</div>
  {{/each}}
</div>

<div class="message">
  <div class="form-group">
    <input type="text" class="form-control">
    <button type="submit" class="btn btn-default">Add your message</button>
  </div>
</div>
