
<script type="text/javascript">
$(function () {
    var username = store.get('username');

    if(username){
        window.location="/import";
    }

    $('#start-journey').click(function(){
        var username = $('#username');
        if(username){
            store.set('username', username);
            window.location="/import";
        }
    });
});
</script>

<div class="splash">
    <input type="text" id="username"/>
  <button id="start-journey" type="button" class="btn btn-primary" href="/import">Start your journey</button>
</div>
