<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group" role="group">
  <button type="button" id="reactions-button" class="btn btn-default" onclick="toggleStatements('reactions');">Reactions</button>
</div>
  <div class="btn-group" role="group">
    <button type="button" id="statements-button" class="btn btn-default active-tab" onclick="toggleStatements('statements');">Statements</button>
  </div>
</div>

<section id="reactions" style="display:none;">
  <div class="reactions">
  {{#each reactions}}
    {{> reactions}}
  {{/each}}
  </div>
</section>

<section id="statements" style="display:none;">
  <div class="statements">
  {{#each statements}}
    {{> statement}}
  {{/each}}
  </div>
</section>

<script>
  function toggleStatements(id) {
    $('#statements').fadeOut(0);
    $('#reactions').fadeOut(0);
    $('#statements-button').removeClass('active-tab');
    $('#reactions-button').removeClass('active-tab');

    $('#'+id+'-button').addClass('active-tab');
    $('#'+id).fadeIn(0);
  }

  $(function () {
      var username = store.get('username');

      var usernameSelector = $('#reactions .statement[data-username=' + username + ']')
      usernameSelector.show();
      usernameSelector.not().hide();

      var othersSelector = $('#statements .statement[data-username=' + username + ']')
      othersSelector.hide();
      othersSelector.not().show();
  });
</script>
