<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" onclick="toggleStatements('your-statements');">Your Statements</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" onclick="toggleStatements('reactions');">Reactions</button>
  </div>
</div>

<section id="your-statements">

</section>

<section id="reactions" style="display:none;">
  <div class="statements">
    {{#each statements}}
      <div class="statement">
        <div class="media">
          <div class="media-left">
            <div class="media-object"></div>
          </div>
          <div class="media-body">
            <p>{{this.message}}</p>
          </div>
          {{#if this.emojiCount}}
            <div class="emoji-count">
              <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            </div>
          {{/if}}
          {{#if this.messageCount}}
            <div class="message-count">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </div>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</section>

<script>
  function toggleStatements(id) {
    $('#your-statements').fadeOut(0);
    $('#reactions').fadeOut(0);
    $('#'+id).fadeIn(0);
  }
</script>
