header {
  width: 100%;
  background-color: #05abe0;
  height: 50px;
  border-bottom: 4px solid #F3F781;
  position: relative;
  z-index: 1;
}

.splash {
  background: #A9F5D0;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.statement {
  padding: 20px 10px;
}
.media {
  color: #000;
}
.media-object {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
  background: linear-gradient(135deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*on feed*/
.has-emoji,
.has-message {
  float: right;
  border-radius: 2px;
  width: 30px;
  height: 20px;
  background: #F3F781;
  text-align: center;
}

.emoji-reactions {
  padding: 20px 10px;
}
.emoji-reaction {
  position: relative;
  padding: 8px 10px;
  background-color: #eee;
  border-radius: 2px;
  display: inline-block;
}
.emoji-reaction-icon {
  width: 20px;
}
.emoji-count,
.encouragement-count {
  position: absolute;
  top: -12px;
  right: -2px;
  background: #FE2E64;
  color: #fff;
  width: 20px;
  text-align: center;
  border-radius: 100%;
}

.encouragements {
  padding: 15px 10px;
}
.encouragement {
  position: relative;
  padding: 8px 10px;
  background-color: #eee;
  border-radius: 2px;
  margin: 5px 0;
  display: inline-block;
}

.message {
  position: relative;
  padding: 10px;
}

.filter-btns {
  padding: 20px 10px;
  text-align:center;
}
.filter-btns .btn {
  margin-bottom: 10px;

}

/*buttons*/
.btn-primary {
  background: #F3F781;
  border: 0;
  color: #000;
  width: 100%;
  padding: 8px 40px;
  font-size: 1.8rem;
  border: 2px solid #F3F781;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active {
  background-color: transparent;
  border-color: #F3F781;
  color: #000;
  box-shadow: none;
}
.btn-default {
  width: 100%;
}

.btn-danger {
  width: 100%;
}

/*forms*/
.form-control {
  margin-bottom: 10px;
}
