#filter-btns {
  text-align:center;
}

.btn-import {
  font-size: 3rem;
  padding: 6px 40px;
  margin: 20px 0px 0px;
}

.add-friend {
  float: right;
}

.profile-pic {
  border-radius: 50%;
  width:100px;
  height:100px;
}
