header {
  width: 100%;
  background-color: #A9F5D0;
  height: 50px;
  border-bottom: 4px solid #F3F781;
  position: relative;
  z-index: 1;
}

.splash {
  background: #A9F5D0;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.splash .btn {
  width: 100%;
}

.statement {
  padding: 20px 10px;
}
.media-object {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
  background: linear-gradient(135deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.emoji-count,
.message-count {
  float: right;
  border-radius: 2px;
  width: 30px;
  height: 20px; 
  background: #F3F781;
  text-align: center;
}

.emoji-reactions {
  padding: 20px 10px;
}
.emoji-reaction {
  padding: 8px 10px;
  background-color: #eee;
  border-radius: 2px;
  display: inline-block;
}
.emoji-reaction-icon {
  width: 20px;
}

.encouragements {
  padding: 15px 10px;
}
.encouragement {
  padding: 8px 10px;
  background-color: #eee;
  border-radius: 2px;
  margin: 5px 0;
  display: inline-block;
}

.message {
  padding: 10px;
}

.btn-default {
  margin-top: 10px;
  width: 100%;
}